# Python deps to build the documentation locally and on Read the Docs
# SPDX-License-Identifier: GPL-3.0-or-later
sphinx>=7.2
furo>=2024.1.29
myst-parser>=2.0.0
breathe>=4.35.0
sphinx-copybutton>=0.5.2